.playSelect {
  min-width: 200px;
}

.searchSentence {
  margin-top: 20px;
}

.App {
  margin: 40px 300px;
}

h1 {
  font-size: 40px;
  margin: -10px 0;
}

h3 {
  font-size: 22px;
  margin: 0 0 20px 0;
}