.playSelect {
  min-width: 200px;
}

.searchSentence {
  margin-top: 20px;
}

.App {
  max-width: 850px;
  margin: 40px auto;
}

h1 {
  font-size: 2.8em;
  margin: -10px 0;
}

h3 {
  font-size: 1.8em;
  margin: 0 0 20px 0;
}

.toTop {
  position: fixed;
  right: 0;
  bottom: 0;
}